body{
    background: #DE6262;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFB88C, #DE6262);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFB88C, #DE6262); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */






}
/*Título H1*/
h1{
    color:rgb(230, 221, 221);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size:xx-large;
    background-color: #a9547e;
    padding-bottom: 20px;
    padding-top: 20px;
}

/*Título h2*/
h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(116, 4, 4);
}

h4{
    color:darkviolet;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#para1{
    color: blue;
}

#para2{
    color: darkgreen;
}

#para3{
    color:rgb(90, 70, 20)
}

#para4{
    color:darkslateblue
}

#para5{
    color:rgb(167, 23, 99);
}

/*Nombre de Los perros*/
.perros{
    font-size: larger;
    color: rgb(73, 17, 73);
    text-decoration:underline;
    letter-spacing: 0.2cm;
}

/*Para todas las imagenes*/
.image{
    height: 350px;
    width: 350px; 
    border: rgb(48, 155, 155), solid;
    border-style: groove;
}

p{
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1cm;
    text-align: justify;
}

/*Formulario*/

.bottonEnviar{
    display: block;
    margin: 0 auto;
    color: black;
    font-size: larger;
    background-color: antiquewhite;
    border: #8d6d24;
    
}

label{
    font-size: medium;
    color:rgb(73, 17, 73);
    font-weight: bold;
}

#cuidados{
    width: 50%;
}

#formulario{
    text-align: center;
    text-decoration:underline;
}